.wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #1b9aaa;
  padding: 2rem;
}

button:hover {
  cursor: pointer;
}

.button-group-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b9aaa;
  height: 5vh;
  padding-bottom: 10vh;
}

.prev-btn {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.next-btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.pagination-button {
  padding: 0px 20px;
  background-color: #dddbcb;
}
