.wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--wrapper-bg-color);
  padding: 2rem;
}

button:hover {
  cursor: pointer;
}

.button-group-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wrapper-bg-color);
  height: 15vh;
}

.prev-btn {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.next-btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.pagination-button {
  height: 2rem;
  width: 7rem;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--button-color-1);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
